<% content_for :title do %>
  <%= @cocktail.name %>
<% end %>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <h1><%= @cocktail.name %></h1>
    <hr>
    <div class="text-center">
      <% if @cocktail.photo? %>
        <%= cl_image_tag @cocktail.photo.path, width: 200, height: 300, crop: :fill %>
      <% end %>
    </div>
    <hr>

    <% @cocktail.doses.each do |dose| %>
      <% unless dose.id.nil? %>
        <div class="row">
          <div class="col-xs-10">
            <strong><%= dose.ingredient.name %></strong>
            - <%= dose.description %>
          </div>
          <div class="col-xs-2">
            <%= link_to "&times".html_safe, dose_path(dose), {class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" }} %>
          </div>
        </div>
        <hr>
      <% end %>
    <% end %>

    <div>
      <h2>Add an ingredient</h2>
      <%= render 'doses/form' %>
    </div>
  </div>
</div>
